<template>
    <c-order-step-one if:true={showstepOne} onstepone={handleStepOne}></c-order-step-one>
    <c-order-step-two if:true={showstepTwo} work-order={workOrderId} work-type={workTypeId}></c-order-step-two>
</template>