<template>

    <div class="demo-only demo-only--sizing slds-grid slds-wrap">

        <div class="slds-size_2-of-8"> 
        </div>

        <div class="slds-size_4-of-8 slds-p-top_x-large" style="background: white;">                
            
            <div class="slds-border_bottom  slds-text-align_center slds-p-bottom_large slds-m-bottom_xx-large slds-text-heading_large" 
            style="border-width: 3px">New Work Order Line Item</div>  
           
            <div class="slds-m-around_medium">

                <lightning-record-edit-form object-api-name="WorkOrderLineItem">   
                    
                        <div class="slds-grid slds-gutters slds-p-horizontal_medium">   

                            <div class="slds-size_1-of-2"> 
                                                            
                                <lightning-input-field id="statusID" field-name='Status' onchange={statusChangedHandler}>
                                </lightning-input-field>   

                             </div>

                             <div class="slds-size_1-of-2"> 
                             
                                <lightning-input-field id="workOrderID" field-name='WorkOrderId' value={workOrder} required onchange={workOrderChangedHandler}>
                                </lightning-input-field>

                            </div>

                        </div>  

                        <div class="slds-grid slds-gutters slds-p-horizontal_medium">  

                            <div class="slds-size_1-of-2"> 
                             </div>

                             <div class="slds-size_1-of-2"> 

                                <div class="slds-text-body_small slds-text-color_weak">Work Type</div>                                
                                <lightning-input-field id="workTypeID" variant="label-hidden" field-name='WorkTypeId'  value={workType} onchange={workTypeChangedHandler}>
                                </lightning-input-field>  

                            </div>

                        </div>  

                        <div class="slds-grid slds-gutters slds-p-horizontal_medium">          

                            <lightning-input-field id="descriptionID" field-name='Description' onchange={descriptionChangedHandler}>
                            </lightning-input-field>

                        </div>  
                                    
                  

                </lightning-record-edit-form>
            </div>

                <div class="slds-border_top slds-clearfix slds-m-top_x-large" style="background:#F5F5F5; border-width: 1px">
                    <lightning-button label="Save" variant="brand" class ="slds-float_right slds-m-right_medium slds-m-vertical_small" onclick={createLineItem}></lightning-button>  
                </div>                        
        
        </div>
        
        <div class="slds-size_2-of-8"> 
        </div>   

      </div> 
</template>

